<body>


<section class="content-card">
    <article class="__card-children">
       <div class="__children-image">
        <img src="../assets/PageInicio/Arte Moderno.jfif" alt="">
        
       </div>
        <p class="text-center text-black fw-bold"> Ojos de angel</p>
        <p class="text-center text-black fw-bold"> 8.88</p>
    </article>
    <article class="__card-children">
        <div class="__children-image">
         <img src="../assets/PageInicio/jESUS.jpg" alt="">
       </div>

        <p class="text-center text-black fw-bold">Nazareno</p>
        <p class="text-center text-black fw-bold"> 8.88</p>
    </article>
    <article class="__card-children">
        <div class="__children-image">
         <img src="../assets/PageInicio/IMG ARTE2.jpg" alt="">
       </div>
        <p class="text-center text-black fw-bold">MAMP</p>
        <p class="text-center text-black fw-bold"> 8.88</p>
       
    </article>

</section>

</body>    
    
