<body>
  <div class="container">
    <footer class="footer">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="fs-4">
            <span>SIGUENOS</span>
          </div>
          <div class="fs-3">
            <iconify-icon icon="ic:baseline-facebook"></iconify-icon>
            <iconify-icon icon="ri:twitter-fill"></iconify-icon>
            <iconify-icon icon="ri:instagram-fill"></iconify-icon>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fs-5 text-md-end">
            <%# <div class="__text-celular">
              <span>Contactanos: +505 89609645</span>
            </div> %>
            <div class="__text-copy">
              <span>Todos los derechos reservados | Codigo Elegante</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
