<head>
<%= stylesheet_link_tag 'perfiluser' %>
</head>
<%= render partial: '/components/menu' %>
<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center">
                    <img src="../assets/user_kids_avatar_user_profile_icon_149314.png" width="100" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Vendedor</span>
                    <h5 class="mt-2 mb-0">Donny Sandoval Rios</h5>
                    
                    <div class="px-4 mt-1">
                        <p class="fonts">Ofresco productos de buena calidad </p>
                    
                    </div>
                    
                    
                    <div class="buttons">
                        <button class="btn btn-outline-primary px-4">Mensaje</button>
                        <button class="btn btn-primary px-4 ms-3">Contacto</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
 <%= render partial: 'components/footer_mine' %>