@import "../abstracts/color";
@import "../abstracts/mixin";
@import "../base/typografy";



#body{
    background: url(fondoLogin.jpeg) no-repeat;
    background-size: cover; 
    height: 40rem;
    @include DisplayFlex;

}
.content{
    border: 1px solid $color-white;
    background-color: rgba($color: #FFF, $alpha: 0.84);
    width: 60rem;
    height: 29rem;
    border-radius: 15px;
    @include DisplayFlex;


}
.__content-login, .__content-logo{
   
    width: 27rem;
    height: 25rem;
   
}
.__login-text{
   text-align: center;
        h1{
            font-family: $font-family-Poppins;
            font-size: 25px;
            font-weight: 450;
        }
        span{
            font-family: $font-family-Open;
            font-weight: 500;
            color: $color-black;
            
        }
}
.new_user{

    height: 20rem;
    @include DisplayFlex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;

    
}
.new_user .field{
    height: 6rem;
    width: 20rem;
    @include DisplayFlex;
    flex-wrap: wrap;
    padding: 5px 0 0 10px;
    
    
    .label{
        width: 100%;   
        font-family: $font-family-Open;
        font-size: 14px;
        font-weight: 600;
       
       }
    .input{
        width: 25rem;
        height: 2rem;
        border-radius: 10px;
        border: 0.1rem solid black;
        background: transparent; 
        scale: 0.9;
        transition: 300ms;

                &:hover{
                    scale: 1;
                   border-color: $color-blue;
                 
                }
        }
    
}
.__login-field-forget-password{
    a{
    color: $color-black;
    font-size: 17px;
    margin-top: 5px;
    font-family: $font-family-Open;
        &:hover{
            color: #1500ff;
        }
    }
}
.__field-btn-submit{
    width: 20rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    background-color: $color-blue;
    color: $color-white;
    box-shadow: 1px 1px 1px black;
    transition: 300ms;
    margin-top: 15px;
        &:hover{
            background: #1500ff;
        }
}
.__login-create-account{
    text-align: center;
    font-family: $font-family-Open;
    margin-top: 13px
}
.__content-logo{
    @include DisplayFlex;
        
        img{
            object-fit: cover;
            width: 80%;
            height: 80%;
        }

}




/* Media query para dispositivos con un ancho máximo de 768px (ajustar según tus necesidades) */
@media screen and (max-width: 768px) {
    .login-box {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        max-width: 80%; /* Ajusta el ancho del contenedor del logo en pantallas pequeñas */
        flex-basis: 80%;
        margin: 0 auto 20px auto; /* Centra el contenedor del logo y agrega margen inferior */
    }
}
